<a href="" class="list-group-item clearfix" (click)="onSelected()">
    <div class="container-fluid">
        <div class="float-start">
            <h4 class="list-group-item-heading">{{recipe?.name }}</h4>
            <p class="list-group-item-text">{{recipe?.description}}</p>
        </div>
        <div class="float-end">
            <span class="float-right"><img [src]="recipe?.imagePath" alt="" class="img-responsive"
                    style="max-height: 50px;"></span>
        </div>
    </div>
</a>